@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root { 

    /*COLORS*/

    --background-main: #121417; 
    --background-soft: #1a1d21; 
    --background-card: #20242a;
    
    --beige-main: #f5f1ea;
    --beige-soft: #ebe4d8;
    --beige-dark: #d8cfc0;

    --cream-light: #faf7f2;
    --warm-white: #f8f5ef;

    --gold: #c6a46c; 
    --gold-soft: #a88b5c; 
    --gold-light: #e0c48a; 
    
    --blue-deep: #1e3a8a; 
    --red-accent: #b91c1c; 
    
    --text-main: #f5f5f5; 
    --text-soft: #b0b3b8; 

    --text-dark: #1b1b1b;
    --text-brown: #5f5648;

    --border-light: rgba(255, 255, 255, 0.08);
    --border-soft: rgba(255,255,255,0.04);
    --gold-border: 1px solid rgba(198,164,108,0.25);
    --beige-border: 1px solid rgba(198,164,108,0.18);

    --overlay-dark: rgba(0,0,0,0.72);
    --overlay-light: rgba(0,0,0,0.3);
    --overlay-beige:
    linear-gradient(
        to bottom,
        rgba(245,241,234,0.88),
        rgba(245,241,234,0.96)
    );

    /*TYPOGRAPHY*/

    --font-title: "Cinzel", serif;
    --font-body: "Inter", sans-serif;

    --title-big: 5.5rem;
    --title-medium: 3rem;
    --title-small: 1.5rem;

    --text-large: 1.15rem;
    --text-normal: 1rem;
    --text-small: 0.9rem;

    --letter-spacing-title: 2px;

    /*SPACING*/

    --section-padding: 9rem;
    --container-width: 1280px;

    --content-width: 550px;


    --card-padding: 2.5rem;

    --button-padding: 1rem 2.2rem;

    /*EFFECTS*/
    
    --radius: 14px;
    --radius-small: 8px;
    --radius-large: 24px;

    --shadow-soft: 0 10px 30px rgba(0,0,0,0.25);
    --shadow-medium: rgba(0,0px,60px,0.35);
    --shadow-heavy: rgba(0,30px,100px,0.45);

    --gradient-dark:
    linear-gradient(
    to right,
    rgba(0,0,0,0.88),
    rgba(0,0,0,0.3)
);

    --gradient-soft:
    linear-gradient(
    to bottom,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.75)
);

--gradient-beige:
    linear-gradient(
        135deg,
        #faf7f2,
        #ebe4d8
    );

    --blur-light: blur(8px);
    --blur-medium: blur(14px);
    --blur-heavy: blur(24px);

    --gold-glow: 0 0 30px rgba(198,164,108,0.08);

    --gold-strong: #c3bf76;

    --transition-slow: 1s ease;
    --transition-medium: 0.6s ease;
    --transition-fast: 0.3s ease;

    --luxury-transition: cubic-bezier(0.19,1,0.22,1);
    
} 

* { 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
} 

html {
    scroll-behavior: smooth;
}


body { 
    font-family: "Inter", sans-serif; 

    color: var(--text-main);
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.2),
    rgba (0,0,0,0.9)
    );

    background-color: var(--background-main);
    line-height: 1.7; 

    overflow-x: hidden;
    position: relative;
} 

body::before {
    content: "";
    position: fixed;

    inset: 0;

    background-image: radial-gradient(rgba (255,255,255,0.08) 0.5px,
    transparent 0.05px
    );

    background-size: 4px 4px;

    opacity: 0.03;

    pointer-events: none;
    
    z-index: 9999;
}

h1, h2, h3 { 
    font-family: "Cinzel", serif; 
    letter-spacing: var(--letter-spacing-title); 
    line-height: 1.1;
    font-weight: 600;
} 

p { 
    color: var(--text-soft); 
    font-size: var(--text-normal);
} 

a { 
    text-decoration: none; 
    color: inherit; 
}

.container {
    width: 90%;
    max-width: var(--container-width);
    margin: 0px auto;
}

section {
    padding: var(--section-padding) 0;
    position: relative;
}

header {
    width: 100%;
    position: sticky;

    top: 0px;
    padding: 10px 0px;
    margin-bottom: 0%;

    z-index: 1000;

    background: rgba(0,0,0, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.04);
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 12px
}
.logo img {
    width: 150%;
    max-width: 100px;
    height: 120px;
}

.logo h1 {
    font-size: 1.7rem;
    color: var(--gold);
    letter-spacing: 3px;

    margin-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;

    align-items: center;
    min-height: 95px;
}

.nav-container {
    width: 90%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0px;
}


.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-menu a {
    position: relative;
    font-size: 0.88rem;
    text-transform: uppercase;

    letter-spacing: 1px;
    transition: var(--transition-medium);
}

.nav-menu a:hover {
    color: var(--gold);
}

.nav-menu a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -8px;

    width: 0;
    height: 2px;

    background: var(--gold);

    transition: var(--transition-medium);
}

.nav-menu a:hover::after {
    width: 100%;
}

.nav-menu .btn-nav::after {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 140%;
    left: 0;
    background: rgba(10, 10, 10, 0.99);
    list-style: none;
    min-width: 200px;

    border: var(--gold-border);

    backdrop-filter: var(--border-light);
    padding: 10px 0px;
    border-radius: var(--radius);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: var(--transition-medium);
}

.dropdown-menu li {
    padding: 14px 22px;

    border-bottom: 1px solid rgba(255,255,255,0.04);
}

.dropdown-menu li:hover {
    background: rgba(255, 255, 255, 0.03);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--gold);

    transition: var(--transition-fast);
}

.menu-icon:hover {
    color: var(--gold-light);
}

.btn-nav {
    display: inline-block;
    padding: 8px 18px;
    line-height: 1;

    border: 1px solid var(--gold);
    border-radius: var(--radius);

    transform: translateY(-3px);

    color: var(--gold);
    box-shadow: var(--gold-glow);
}

.btn-nav:hover {
    border: var(--gold-border);
    color: var(--gold);
    box-shadow: var(--gold-glow);
}

.nav-menu .btn-nav:hover {
    color: #fff7e8;

    border-color: var(--gold);

    box-shadow:
        0 0 8px rgba(198,164,108,0.55),
        0 0 18px rgba(198,164,108,0.35),
        0 0 30px rgba(198,164,108,0.18);

    text-shadow:
        0 0 6px rgba(255,230,180,0.9);

    background: rgba(198,164,108,0.05);

    transform: translateY(-3px) scale(1.03);
}

.btn-primary, 
.btn-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: var(--button-padding);

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.82rem;

    transition: all var(--transition-medium);

    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(135deg, 
    var(--gold), 
    var(--gold-soft)
    );
    color: #111;

    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
}

.btn-primary:hover {
    transform: translateY(-2px);

    background: linear-gradient(
        135deg,
        #e2c48a,
        #c79b52
    );

    color: #000;

    box-shadow:
        0 0 10px rgba(198,164,108,0.35),
        0 0 24px rgba(198,164,108,0.18);

    filter: brightness(1.08);
    
}

.btn-secondary {
    border: 1px solid rgba(255,255,255, 0.18);
    color: var(--text-main);
}

.btn-secondary:hover {
    color: #fff7e8;

    border-color: var(--gold);

    box-shadow:
        0 0 8px rgba(198,164,108,0.55),
        0 0 18px rgba(198,164,108,0.35),
        0 0 30px rgba(198,164,108,0.18);

    text-shadow:
        0 0 6px rgba(255,230,180,0.9);

    background: rgba(198,164,108,0.05);

    transform: translateY(-3px) scale(1.03);
}

/*HERO SECTION*/

.hero {
    min-height: 92vh;
    display: flex;
    position: relative;
    overflow: hidden;

    flex-direction: column;

    justify-content: center;

    padding-top: 8rem;

    background: var(--gradient-dark),
    url('images/background.png');

    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1 {
    font-size: var(--title-big);
    max-width: 1000px;
    padding-left: 1rem;

    line-height: 5rem;

    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 10px 30px rgba(0,0,0,0.5)
}

.highlight {
    color: var(--gold);
}

.hero p {
    font-size: var(--text-large);

    max-width: var(--container-width);
    margin: 1rem;

    color: #dddddd;
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
    margin: 3rem;
}

.why {
    position: relative;

    background: #ebe4d8;

    padding: 4.5rem 0;

    border-top: var(--beige-border);
    border-bottom: var(--beige-border);
}

.why::after {
    content: "";

    position: absolute;
    top: -90px;
    left: 0;

    width: 100%;
    height: 90px;

    background: linear-gradient(
        to bottom,
        rgba(245,241,234,0) 0%,
        rgba(245,241,234,0.35) 40%,
        var(--beige-soft) 95%, 
        var(--beige-soft) 100%
    );

    pointer-events: none;
}

.why .section-title {
    color: var(--text-dark);

    text-align: center;

    margin-bottom: 3.5rem;

    font-size: 2rem;
}

.why-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    align-items: center;
}

.why-item {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1.5rem, 2rem;

    transition: var(--transition-fast);
}

.why-item:hover {
    transform: translateY(-3px);
}

.why-item:not(:last-child)::after {
    content: "";

    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    width: 1px;
    height: 80%;

    background: rgba(198,164,108,0.2);
}

.why-item img {
    width: 38px;
    height: 38px;

    object-fit: contain;

    margin-bottom: 1.3rem;

    opacity: 0.9;

    transition: var(--transition-fast);
}

.why-item:hover img {
    transform: scale(1.05);
}

.why-item span {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-dark);

    letter-spacing: 1.4px;
    line-height: 1.6;

    text-transform: uppercase;
}

/*ABOUT SECTION*/

.about-short {
    background: #050505;

    border-top: var(--gold-border);
    border-bottom: var(--gold-border);

    padding: 0;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 52% 48%;
    align-items: stretch;
}

.about-content {
    display: flex;
    align-items: center;
    position: relative;

    padding: 6rem 7rem 6rem 4rem;
}

.about-content .container {
    max-width: 520px;
}

.about-short .section-title {
    text-align: left;
    font-size: 2.3rem;

    margin-bottom: 2rem;

    color: var(--text-main);
}

.about-content .section-title::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -14px;

    width: 60px;
    height: 2px;

    background: var(--gold);
}

.about-content p {
    max-width: 540px;

    font-size: 1rem;
    line-height: 2;

    margin-bottom: 3rem;
    color: var(--text-soft);
}

.about-img {
    position: relative;
    min-height: 650px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    object-position: center center;

    transform: scale(0.9);

    filter: 
    grayscale(35%)
    brightness(0.9)
    contrast(1.1);
}

.about-img::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
    to left,
    rgba(0,0,0,0.15),
    rgba(0,0,0,0.45)
    );
}

.stats-grid {
    display: flex;
    gap: 3rem;

    margin-top: 1rem;
    margin-right: 2rem;
    
}

.stat {
    display: flex;
    align-items: center;
    min-width: auto;

    gap: 1rem;
}

.stat img {
    width: 20px;
    height: 22px;

    object-fit: contain;
    object-position: center;

    border: 1px solid var(--gold);
    border-radius: 42%;
    padding: 10px;
    margin: 1.4rem auto 1.8rem;

    display: block;

    box-sizing: content-box;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(5px);
}

.stat h3 {
    font-size: 2.8rem;
    color: var(--gold);

    margin-bottom: 0.4rem;
    line-height: 1;
}

.stat p {
    margin: 0;
    color: var(--text-main);

    font-size: 0.78rem;
    max-width: 120px;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}

/*SERVICES*/

.services {
    background: #050505;

    border-bottom: var(--gold-border);

    padding: 6rem 0;
}

.services .section-title {
    position: relative;
    text-align: center;
    color: var(--text-main);

    font-size: 2.4rem;
    margin-bottom: 4.5rem;
}

.services .section-title::after {
    content: "";
    position: absolute;

    left: 50%;
    bottom: -14px;

    transform: translateX(-50%);

    width: 70%;
    height: 2px;

    background: var(--gold);
}
.services::before {
    content: "";

    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 78%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(198,164,108,0.9),
        transparent
    );

    box-shadow:
        0 0 12px rgba(198,164,108,0.35),
        0 0 22px rgba(198,164,108,0.18);
}

.services::after {
    content: "";

    position: absolute;

    top: -100px;
    left: 0;

    width: 100%;
    height: 100px;

    background: linear-gradient(
        to bottom,
        transparent,
        #050505
    );

    pointer-events: none;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.service-card {
    position: relative;

    min-height: 430px;
    padding: 3rem 2rem;

    border: 1px solid rgba(198,164,108,0.35);

    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    

    transition: var(--transition-medium);

    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.service-card:hover {
    border: var(--gold-border);
    color: var(--gold);

    box-shadow:
        0 0px 30px rgba(198,164,108,0.55),
        0 0px 18px rgba(198,164,108,0.35),
        0 0 30px rgba(198,164,108,0.18);

    transform: translateY(-10px);
    border-color: var(--gold);
}

.service-card > * {
    position: relative;
    z-index: 2;
}

.service-card img {
    width: 20px;
    height: 22px;

    display: flex;

    object-fit: contain;

    padding: 10px;

    border: 1px solid var(--gold);
    border-radius: 42%;

    box-sizing: content-box;
    margin: 0 auto 1.5rem auto;

    background: rgba(0,0,0, 0.45);
    backdrop-filter: blur(5px);
}

.service-card h3 {
    font-size: 1.4rem;
    
    text-align: center;
    color: var(--gold);

    margin-bottom: 1rem;
    line-height: 1.4;
}

.service-card p {
    color: var(--text-soft);

    font-size: 0.95rem;
    line-height: 1.9;
}

.service-card-1 {
    background-image: url('images/grid-1.png');
}

.service-card-2 {
    background-image: url('images/grid-2.png');
}

.service-card-3 {
    background-image: url('images/grid-3-bk.png');

}

.service-card::before {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.05) 0%,
        rgba(0,0,0,0.35) 35%,
        rgba(0,0,0,0.78) 65%,
        rgba(0,0,0,0.96) 100%
    );

    z-index: 1;
}

.service-cta {
    display: flex;
    justify-content: center;

    margin-top: 5rem;
}

.service-cta .btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 3.5rem;

    border: 1px solid var(--gold);

    background: transparent;
    color: var(--gold);

    text-transform: uppercase;

    letter-spacing: 2px;
    font-size: 0.85rem;
    font-weight: 500;

    position: relative;
    overflow: hidden;

    transition: var(--transition-medium);
}

.service-cta .btn-primary:hover {
    background: rgba(198,164,108,0.06);

    color: #fff7e8;

    border-color: var(--gold);

    transform: translateY(-3px) scale(1.02);

    box-shadow:
        0 0 8px rgba(198,164,108,0.45),
        0 0 18px rgba(198,164,108,0.28),
        0 0 28px rgba(198,164,108,0.12);

    text-shadow:
        0 0 6px rgba(255,230,180,0.75);
}

/*QUOTE*/

.quote-1 {
    position: relative;
    display: flex;

    padding: 5rem 0;

    background-image: url('images/quote-img.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden;
}

.quote-1::before {
    content: "";

    position: absolute;

    top: -100px;
    left: 0;

    width: 100%;
    height: 100px;

    background: linear-gradient(
        to bottom,
        transparent,
        #050505
    );

    z-index: 2;
    pointer-events: none;
}

.quote-1::after {
    content: "";

    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 78%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(198,164,108,0.9),
        transparent
    );

    box-shadow:
        0 0 12px rgba(198,164,108,0.35),
        0 0 22px rgba(198,164,108,0.18);

    z-index: 3;
}

.quote-1 .container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.quote-1-content {
    max-width: 760px;

    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

}

.quote-1 img {
    width: 48px;
    height: 48px;

    object-fit: contain;
}

.quote-1 h2 {
    color: var(--gold);

    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;

    max-height: 850px;
    text-align: right;
}

/*CTA CONTACT*/

.contact-cta {
    background: var(--gradient-beige);

    padding: 3.5rem 0;

    border-top: var(--beige-border);
    border-bottom: var(--beige-border);
}
.contact-cta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.contact-cta-text {
    color: var(--text-dark);

    font-size: 2.4rem;
    margin-bottom: 0.7rem;
}

.contact-cta-text p {
    color: var(--text-brown);

    font-size: 1rem;
    line-height: 1.7;
    padding-top: 5px;
    text-align: center;
}

.contact-cta .btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem 3.8rem;

    background-color: var(--gold);
    color: #fff;

    border: 1px solid var(--gold);

    text-transform: uppercase;
    letter-spacing: 2px;

    font-size: 0.85;
    font-weight: 500;

    transition: var(--transition-medium);
}

.contact-cta .btn-primary:hover {
    background: transparent;
    color: var(--gold);
}

/*LOCATION*/

.location {
    background: #050505;
    padding: 6rem 0;

    border-top: var(--gold-border);
}

.location-wrapper {
    display: grid;
    grid-template-columns: 380px 1fr;
    gap: 1rem;
    
    align-items: stretch;
}

.location .container {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 3rem;
    align-items: stretch;
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location .section-title {
    position: relative;
    color: var(--gold);

    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}

.location .section-title::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -12px;

    width: 60px;
    height: 2px;

    background: var(--gold);
}

.location-info {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.location-item {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.location-item span {
    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.location-item img {
    width: 20px;
    height: 20px;

    object-fit: contain;

}

.location-item p {
    color: var(--text-soft);
    font-size: 1rem;

    line-height: 1.7;
}

.location-item strong {
    color: var(--text-main);
    font-weight: 500;
}

.map-placeholder {
    overflow: hidden;

    border: 1px solid rgba(198,164,108,0.03);
    min-height: 260px;
    position: relative;
}

.map-placeholder iframe {
    width: 100%;
    height: 100%;

    filter: 
    grayscale(100%)
    brightness(0.55)
    contrast(1.1);
}

/*ABOUT PAGE*/
/*ABOUT PAGE HERO*/

.page-hero {
    position: relative;
    min-height: 78vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    overflow: hidden;

    background: linear-gradient(
    rgba(0,0,0,0.35),
    rgba(0,0,0,0.55)
    ),
    url('images/hero-about2.png');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-hero::after {
    content: "";
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;
}

.page-hero .container {
    position: relative;
    z-index: 2;
}

.page-hero h1 {
    font-size: 5.5rem;
    color: var(--text-main);

    margin-bottom: 1rem;
    line-height: 1.1;

    animation: forwards 1.2s ease;
}

.page-hero h2 {
    font-size: 4rem;
    color: var(--gold);

    line-height: 0.2;
    margin-bottom: 3rem;
}

.page-hero p {
    max-width: 760px;

    margin: 0 auto;

    font-size: 1.2rem;
    color: #f0f0f0;

    animation: forwards 1.6s ease;
}

.about-intro {
    background: var(--warm-white);

    text-align: center;

    padding: 7rem 0;

    border-top: var(--beige-border);
    border-bottom: var(--beige-border);
}

.about-intro::after {
    content: "";

    position: absolute;
    top: -90px;
    left: 0;

    width: 100%;
    height: 90px;

    background: linear-gradient(
        to bottom,
        rgba(245,241,234,0) 0%,
        rgba(245,241,234,0.30) 40%,
        var(--beige-main
        ) 75%,  
        var(--beige-main) 100%  
    );

    pointer-events: none;
}

.about-intro p:last-child {
    margin-bottom: 0;
}

.about-intro p {
    font-size: 1.2rem;

    line-height: 2.1;

    color: var(--text-dark);

    margin-bottom: 3rem;
}

.whatis-bg {
    background: var(--warm-white);
    padding: 5rem 0;

    position: relative;
}

.about-grid-section {
    position: relative;
    background: var(--warm-white);
    padding: 7rem 0;
}

.about-grid-section::after{
    content: "";

    position: absolute;
    left: 50%;
    top: -81px;
    

    transform: translate(-50%);

    width: 80%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(80,55,35,0.75),
        transparent
    );

    box-shadow:
        0 0 10px rgba(80,55,35,0.18);

    z-index: 2;
}


.about-grid {
    width: 90%;
    max-width: 1280px;
    background: var(--beige-main);

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr );

    gap: 2rem;

}

.about-card {
    position: relative;
    overflow: hidden;

    min-width: 0;
    min-height: 580px;
    padding: 10rem 3rem 2rem;
    border-radius: var(--radius);

    border: 1px solid var(--text-brown);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: 0.7s ease;

    background-size: 108%;
    background-repeat: no-repeat;
    background-position: top center;
}

.about-card::before {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.03) 0%,
        rgba(0,0,0,0.12) 30%,
        rgba(245,241,234,0.50) 52%,
        rgba(245,241,234,0.96) 74%,
        rgba(245,241,234,1) 100%
    );

    z-index: 1;
}

.about-card > * {
    position: relative;
    z-index: 2;
}

.about-card:hover {
    transform: translateY(-10px);
    border-color: var(--gold);

    box-shadow:
    0 10px 40px rgba(0,0,0,0.4),
    0 0 25px rgba(198,164,108,0.15);
}

.about-card:nth-child(1) {
    background-image: url('images/whatispdr-about.png');
    background-position: center top;
}

.about-card:nth-child(2) {
    background-image: url('images/international-about.png');
    background-position: center top;
}

.about-card:nth-child(3) {
    background-image: url('images/culture-about.png');
    background-position: center -17px;
}

.about-card h3 {
    text-align: center;
    font-size: 1.7rem;
    color: var(--gold);

    margin-top: 3rem;
    margin-bottom: 1rem;

    width: 100%;
    max-width: 100%;

    overflow-wrap: anywhere;

}

.about-card p {
    color: var(--text-dark);
    line-height: 1.9;
    font-size: 1rem;

    max-width: 280px;
    margin: auto;
}


.about-card h5 {
    margin-top: auto;
    padding-top: 3rem;

    text-align: center;

    color: var(--gold);

    font-size: 0.9rem;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-statement {
    background: var(--warm-white);
    padding: 6rem 0;
    border-top: var(--beige-border);
}

.about-statement::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 0px;
    

    transform: translate(-50%);

    width: 80%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(80,55,35,0.75),
        transparent
    );

    box-shadow:
        0 0 10px rgba(80,55,35,0.18);

    z-index: 2;
}


.about-card-img img {
    width: 50px;
    height: 50px;
    top: 20px;
    left: 0%;

    display: flex;

    object-fit: contain;


    padding: 10px;

    border: 1px solid var(--gold);
    border-radius: 42%;

    box-sizing: content-box;
    margin: 0 auto;

    background: rgba(0,0,0, 0.45);
    backdrop-filter: blur(5px);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.about-statement {
    position: relative;
    display: flex;

    padding: 5rem 0;

    background-image: url('images/about-quote-pg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden;
    backdrop-filter: var(--blur-light);
}

.about-statement::before {
    content: "";

    position: absolute;

    top: -100px;
    left: 0;

    width: 100%;
    height: 100px;

    background: linear-gradient(
        to bottom,
        transparent,
        #050505
    );

    z-index: 2;
    pointer-events: none;
}

.about-statement::after {
    content: "";

    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 78%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        rgba(198,164,108,0.9),
        transparent
    );

    box-shadow:
        0 0 12px rgba(198,164,108,0.35),
        0 0 22px rgba(198,164,108,0.18);

    z-index: 3;
}

.about-statement .container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-statement-content {
    max-width: 860px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin: auto;
    gap: 1.5rem;

}

.about-statement img {
    width: 48px;
    height: 48px;

    object-fit: contain;
}

.about-statement h2 {
    color: var(--warm-white);

    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 500;

    max-height: 850px;
    text-align: center;
}

.quote-end-color {
    color: var(--gold);
}



/*WHAT IS PDR*/

.page-hero {
    position: relative;
    min-height: 78vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    overflow: hidden;

    background: linear-gradient(
    rgba(0,0,0,0.35),
    rgba(0,0,0,0.55)
    ),
    url('images/hero-about2.png');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.page-hero::after {
    content: "";
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;
}

.page-hero .container {
    position: relative;
    z-index: 2;
}

.page-hero h1 {
    font-size: 5rem;
    color: var(--text-main);

    margin-bottom: 7px;
    line-height: 1;

    animation: forwards 1.2s ease;
}

.page-hero h2 {
    font-size: 5rem;
    color: var(--gold);

    line-height: 0.8;
    margin-bottom: 3rem;
}

.page-hero p {
    max-width: 760px;

    margin: 0 auto;

    font-size: 1.2rem;
    color: #f0f0f0;

    animation: forwards 1.6s ease;
}

.pdr-intro {
    background: var(--warm-white);

    padding: 5rem 0;

    border-top: var(--beige-border);
    border-bottom: var(--beige-border);
}

.pdr-intro::after {
    content: "";

    position: absolute;
    top: -90px;
    left: 0;

    width: 100%;
    height: 90px;

    background: linear-gradient(
        to bottom,
        rgba(245,241,234,0) 0%,
        rgba(245,241,234,0.30) 40%,
        var(--beige-main
        ) 75%,  
        var(--beige-main) 100%  
    );

    pointer-events: none;
}

.pdr-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 4rem;
    align-items: center;
}

.pdr-text h2 {
    color: var(--text-dark);

    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.pdr-text p {
    color: var(--text-brown);

    line-height: 2;
    margin-bottom: 1.5rem;
}

.pdr-image {
    min-height: 500px;
    border-radius: var(--radius);

    background-image: url('images/pdr-image.png');
    background-size: cover;
    background-position: center;

    border: 1px solid rgba(198,164,108,0.35);
}

.pdr-benefits {
    background: #050505;

    padding: 7rem 0;

    border-top: var(--gold-border);
    border-bottom: var(--gold-border);
}


/*FOOTER*/

.footer {
    background: #050505;
    border-top: var(--gold-border);
    padding: 4rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 0.8fr;
    gap: 3rem;

    padding-bottom: 3rem;
}

.footer-content > div {
    position: relative;
}

.footer-content > div:not(:last-child)::after {
    content: "";

    position: absolute;
    top: 0;
    right: -1.5rem;

    width: 1px;
    height: 100%;

    background: rgba(198,164,108,0.15);
}

/*BRAND*/

.footer h3 {
    color: var(--gold);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer p {
    color: var(--text-soft);

    line-height: 1.8;
    font-size: 0.95rem;
}

.footer-links {
    display: flex;
    flex-direction: column;

    gap: 0.9rem;
}

.footer-links a {
    color: var(--text-soft);

    transition: var(--transition-fast);
}

.footer-links a:hover {
    color: var(--gold);

    transform: translateX(3px);
}

.footer-contact {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.footer-instagram {
    display: flex;
    align-items: center;

    gap: 0.7rem;

    color: var(--text-soft);
    transition: var(--transition-fast);
    transform: translateX(3px);
}

.footer-instagram:hover {
    color: var(--gold);

    transform: translateX(3px);
}

.footer > p {
    border-top: 1px solid rgba(198,164,108,0.12);

    padding: 1.5rem 0;

    text-align: center;

    color: rgba(255,255,255,0.55);

    font-size: 0.85rem;
}



/*RESPONSIVE NON-DESKTOP*/
